@import url('https://fonts.googleapis.com/css?family=Anton');

.Header {
  color: #ce362c;
  background-color: rgba(0, 0, 0, 0.623);
  opacity: 0.9;
  align-content: center;
  justify-content: center;
  display: flex;
  height: 10%;
  font-family: 'Anton', sans-serif;
  
}

#head:hover {
  color: white;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: center;
}

.Hero {
  color: red;
  background-image: url('../src/Images/doom1.jpeg');
  background-repeat: no-repeat;
  position: relative;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 0px 10px;
}
#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySidenav a:hover {
  color: #f1f1f1;
}
span {
  font-size:30px;
  cursor:pointer;
}
#mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.Ogdoom {
  margin-left: 179px;
}
