@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.Header {
  color: #ce362c;
  background-color: rgba(0, 0, 0, 0.623);
  opacity: 0.9;
  align-content: center;
  justify-content: center;
  display: flex;
  height: 10%;
  font-family: 'Anton', sans-serif;
  width: 100%;
  margin: 0 auto;
}

#head:hover {
  color: white;
}

h1 {
  padding: 0;
  margin: 0 auto;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: center;
}

.Hero {
  color: red;
  background-image: url('../src/Images/doom1.jpeg');
  background-repeat: no-repeat;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
}

.Sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 0 auto;
}
#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(167, 10, 10);
  display: block;
  transition: 0.3s;
}
#mySidenav a:hover {
  color: #f1f1f1;
}
.Sidenavcl button {
  background-color: transparent;
  position: absolute;
  top: 0;
  font-size: 35px;
  margin: 0 auto;
  padding: 0;
}
#closebtn {
  background-color:  transparent;
  position: absolute;
  top: 0;
  font-size: 36px;
  margin: 0 auto;
}
.Ogdoom {
  padding-top: 35px;
  margin-left: 179px;
  margin-right: 25px;
  display: block;
  color: rgb(167, 10, 10);
}
.Ogdoom h1 {
  padding-bottom: 10px;
  font-size: 50px;
}
.Ogdoom p {
  font-family: 'Source Code Pro', monospace;
  line-height: 25px;
  font-size: 16px;
}
#original-cover {
  background-image: url('../src/Images/Doom1993.jpeg');
  height: 45vh;
  width: 30vh;
  background-size: cover;
  margin: 10px;
  float: left;
} 